/* work sans fonts */
@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu&family=Kanit&family=Lato&family=Open+Sans:ital@0;1&family=Oswald&family=Poppins:wght@500&family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Anek Telugu', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}


/* header styles */
header {
    background: rgba(255, 144, 14, 0.1);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 200px 50px;
}

.header-container h3 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.nav-container {
    width: 477px;
    display: flex;
    justify-content: space-between;
}

.nav-container a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}

.nav-container li {
    list-style-type: none;
}

@media only screen and (max-width: 576px) {
    .header-container {
        flex-direction: column;
        padding: 20px;
        align-items: flex-start;
    }

    .nav-container {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 50%;
        flex-direction: column;
    }
}

/* brand new section styles */
.brand-new-container {
    padding: 0px 200px 45px;
    background: rgba(255, 144, 14, 0.1);
}

.brand-new-container img {
    margin-top: 50px;
    width: 100%;
}

.brand-new-info {
    margin: 0 auto;
    text-align: center;
    width: 862px;
    height: 225px;
}

.brand-new-info h2 {
    font-weight: 700;
    font-size: 64px;
    color: #131313;
}

.brand-new-info p {
    margin-top: 20px;
    font-weight: 400;
    font-size: 12px;
    color: #727272;
}

.btn-1 {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    width: 180px;
    height: 64px;
    background: #FF900E;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
}

@media only screen and (max-width: 576px) {
    .brand-new-container {
        padding: 20px;
    }

    .brand-new-info {
        text-align: left;
        width: 100%;
        height: 100%;
    }

    .btn-1 {
        height: 50px;
        width: 150px;
        padding: 10px;
    }
}

/* features section styles */
.features-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 85px;
    margin-bottom: 110px;
    margin-left: 250px;
    margin-right: 250px;
}

.features-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    margin-right: 70px;
}

.features-img img {
    width: 300px;
    height: 300px;
}

.highlighter-1 {
    font-weight: 500;
    font-size: 40px;
    color: #727272;
}

.highlighter-2 {
    font-weight: 700;
    font-size: 40px;
    color: #131313;
}

.highlighter-3 {
    font-weight: 700;
    font-size: 45px;
    color: #FF900E;
}

.features-info p {
    margin-top: 20px;
    font-weight: 400;
    font-size: 12px;
    color: #727272;
}

@media only screen and (max-width: 576px) {
    .features-container {
        flex-direction: column;
        margin: 0 auto;
        padding: 0px 20px 20px;
    }

    .features-img {
        grid-template-columns: repeat(1, 1fr);
        margin-right: 0px;
        margin-bottom: 40px;
    }
}

/* features-2 section styles */
.features-2-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 100px 200px;
}

.features-2-details {
    width: 40%;
}

.features-2-details>p {
    font-weight: 400;
    font-size: 12px;
    color: #727272;
    margin-top: 24px;
    margin-bottom: 30px;
}

.features-2-details-headings {
    font-weight: 700;
    font-size: 35px;
    color: #131313;
    border-left: 5px solid #FF900E;
}

.features-2-details-headings h3 {
    margin-left: 20px;
}

.features-2-img {
    width: 60%;
    position: relative;
    padding-left: 90px;
    padding-bottom: 75px;
}

.features-2-img button {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 120px;
    background: #FF900E;
    border-radius: 8px;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #FFFFFF;
    border: none;
}

.features-2-img span {
    display: block;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    color: #FFFFFF;
}

.features-2-img img {
    width: 100%;
}

.features-2-card {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 30px;
}

.features-2-card h6 {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
}

.features-2-card p {
    font-weight: 400;
    font-size: 12px;
    color: #727272;
    margin-top: 10px;
}

@media only screen and (max-width: 576px) {
    .features-2-container {
        flex-direction: column-reverse;
        margin: 0 auto;
        padding: 20px;
        gap: 50px;
        margin-top: 50px;
    }

    .features-2-img button {
        position: relative;
        width: 90%;
    }

    .features-2-details {
        width: 100%;
    }

    .features-2-img {
        width: 100%;
        padding-left: 0px;
        padding-bottom: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .features-2-img img {
        width: 90%;
    }
}

/* facts section styles */
.facts-container {
    margin: 0px 240px;
    margin-bottom: 80px;
}

.facts-container h3 {
    font-weight: 700;
    font-size: 30px;
    color: #131313;
}

.facts-container>p {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-top: 15px;
    margin-bottom: 50px;
}

.facts-card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    width: 180px;
    height: 180px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
}

.card:hover {
    transform: scale(1.1);
}

.card h3 {
    font-weight: 600;
    font-size: 35px;
    color: #424242;
}

.card p {
    font-weight: 600;
    font-size: 15px;
    color: #727272;
}

.card img {
    width: 30px;
    height: 30px;
    margin-top: 35px;
}

@media only screen and (max-width: 576px) {
    .facts-container {
        margin: 0px 20px 50px;
    }

    .facts-card-container {
        flex-direction: column;
        row-gap: 10px;
        justify-content: center;
        align-items: center;
    }
}

/* why choose us section styles */
.choose-container {
    width: 500px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    border-right: 5px solid #FF900E;
    padding: 20px;
}

.choose-container h3 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: #131313
}

.reason {
    font-weight: 400;
    font-size: 14px;
    color: #727272;
}

.reason li {
    margin-bottom: 5px;
    list-style-type: none;
}

.icon-1 {
    color: #FF900E;
    margin-right: 5px;
}

@media only screen and (max-width: 576px) {
    .choose-container {
        width: 80%;
        height: 100%;
    }
}

/* sponsor section styles */
.sponsor-container {
    margin-bottom: 100px;
}

.sponsor-container h3 {
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: #131313
}

.sponsor-container p {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #727272;
    margin-top: 15px;
    margin-bottom: 40px;
}

.sponsor-logo {
    margin: 0px 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sponsor-logo img {
    width: 120px;
    height: 35px;
}

@media only screen and (max-width: 576px) {
    .sponsor-logo {
        flex-direction: column;
        margin: 0px;
        row-gap: 20px;
    }

    .sponsor-container {
        margin: 0px 20px 50px;
    }
}

/* footer styles */
footer {
    background: #FFF4E7;
    border-radius: 8px;
    padding: 20px 0px;
    margin: 0px 240px 60px;
}

footer p {
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: #424242;
}

@media only screen and (max-width: 576px) {
    footer {
        margin: 0px 20px 30px;
    }
}